@{
    ViewData["Title"] = "About APA System";
}
<h2>@ViewData["Title"]</h2>


<p>
    It's an APA system. APA means Advocate Personal Assistant which based on online, by accessing this application an advocate can check out the cases’s profile who came to take the suggestions to him for get rid of the case or against anyone to giving a case.
    In this project, there are also a supporting phase to the lawyers for checking out the cyber laws and punishment (imprisonment and fine) & check out the case records.


    Any qualified person as defined under Section 2 of the Legal Profession Act (Cap 161 2009 Rev Ed) who wishes to be admitted as an advocate and solicitor of the Supreme Court (“advocate”) must apply to the High Court by way of an Originating Summons.

    For more information on the requirements for admission to the Singapore Bar as found on the website of the Ministry of Law, please Click here. For further information on the admission procedure as found on the website of the Singapore Institute of Legal Education, please Click here.

    It is incumbent upon every applicant who desires to be admitted as an advocate to ensure that his papers are in order and in accordance with legal requirements, including those under the Legal Profession Act (Cap. 161 2009 Rev Ed), the Legal Profession (Admission) Rules 2011 as well as the Supreme Court Practice Directions.

    All applications to be admitted as an advocate are heard in the High Court. The details of the Monthly Calls (except for June and December of each year) as well as the annual Mass Call for advocates are published on the Supreme Court website.
</p>
