@{
    ViewData["Title"] = "Contact";
}
    <h2>@ViewData["Title"]</h2>

<address>
    Md.Abu Bakkar Siddik<br />
    Dhaka-1204,<br />
    <abbr title="Phone">P:</abbr>
   01993*****
</address>

<address>
    Manash Golder<br />
    Jessor-1204,<br />
    <abbr title="Phone">P:</abbr>
    01781*****
</address>

<address>
    <strong>Support:</strong> <a href="mailto:abubakkar1045@gmail.com">abubakkar1045@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:manashgolder@gmail.com">manashgolder@gmail.com</a>
</address>
